body{
    padding: 100px;
}
.submit-area{
    margin-top: 60px;
    padding: 50px;
    border-radius: 10px;
    box-shadow:2px 2px 8px gray;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: rgb(87, 70, 180);
}
.withdraw{
    background-color: salmon;
}
.balance{
 background-color:goldenrod;
}
.statas{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}